.project-card {
    margin-bottom: 5rem;
}

#avatar {
    height: 15rem;
    margin-bottom: 5rem;
}

#welcome-banner,
#tool-belt-header,
.skills-title,
.featured-title {
    margin-top: 5rem;
}

.skills-title {
    margin-top: 2rem;
}

#welcome-banner,
#welcome-banner-subtext {
    margin-bottom: 2rem;
}

.is-roboto {
    font-family: 'Roboto', sans-serif;
}

.greeting-cont {
    background-color: #343a40;
    width: 100%;
}

.about-cont {
    padding: 0 !important;
}

.is-white {
    color: #e3e8ec;
}

#greeting-header {
    margin: 10rem 0 3rem 0;
}

#greeting-body {
    font-size: 1.2rem;
    margin-bottom: 20rem;
}

.skills-cont {
    margin-top: -10rem;
    margin-bottom: 6rem;
}

.skills {
    background-color: white;
    margin: 0 5rem !important;
    border-radius: 1rem;
    box-shadow: 0 5px 5px 0 rgb(233 240 243 / 50%), 0 0 0 1px #e6ecf8;
}

.skills-header {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
}

.skills-ul {
    padding: 0 !important;
    margin: 0;
    margin-bottom: 5rem;
}

li {
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.skills-icon {
    color: #343a40;
    font-size: 1.5rem;
}

.skills-list {
    padding: 5rem 4rem 0 4rem !important;
}

.skills-title {
    padding-bottom: 1rem;
    font-weight: bold;
}

.language-ico {
    height: 2rem;
    margin: 2rem 0;
}

.skill-ico {
    height: 4rem;
}

.languages-cont {
    margin: 0 8rem 4rem 8rem !important;
}

.languages-header {
    font-size: 1.2rem;
}

.project-card {
    overflow: hidden;
    margin-bottom: 1.5rem;
    box-shadow: 0 0 5px #343a40;
}

#hovered:hover > .card-image {
    width: 100%;
    filter: opacity(0.1);
    filter: brightness(30%);
    transition: all 500ms ease;
}

#hovered:hover > .card-image {
    transform: scale(2);
}

.featured-projects { 
    margin: 5rem 5rem !important;
}

.featured-title {
    margin-bottom: 2rem;
    padding-top: 5rem;
}
