.project-card {
    margin-bottom: 5rem;
}

#avatar {
    height: 15rem;
    margin-bottom: 5rem;
}

#welcome-banner {
    margin-top: 5rem;
    font-weight: bold;
}

#welcome-banner,
#welcome-banner-subtext {
    margin-bottom: 2rem;
}

.is-roboto {
    font-family: 'Roboto', sans-serif;
}