.primary,
.secondary {
    background-color: #343a40 !important;
    color: #e3e8ec !important;
    border: solid 1px #343a40 !important;
    border-radius: 0.5rem !important;
}

.primary:hover,
.secondary:hover {
    background-color: aquamarine !important;
    color: #343a40 !important;
}

