@import url(https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap);

* {
    line-height: 1.5;
    font-family: 'Comfortaa', cursive;
    font-size: 16px;
    font-weight: lighter;
}

body::-webkit-scrollbar {
    width: 0.5rem;
}

body::-webkit-scrollbar-thumb {
    background-color: #343a40;
    opacity: 1;
}

.navbar {
    background-color: #343a40;
    margin-bottom: 3rem;
}

.nav-cont {
    background-color: #343a40;
}

.nav-link {
    color: #e3e8ec !important;
}

.active {
    color: aquamarine !important;
}

.nav-link:hover {
    color: #a7a7a7 !important;
    transform: translateY(-0.1rem);
    transition: transform 150ms;
}

.navbar-toggler {
    border-color: #343a40 !important;
}

