.portfolio-cont {
    margin-top: 8rem;
}

.portfolio-sub-header {
    margin-top: 2rem;
}

.portfolio-projects {
    margin: 5rem 0rem !important;
}

.img-overlay {
    align-items: center;
    display: flex;
    flex-shrink: 1;
}